<p-panel [showHeader]="false" class="flex flex-col justify-between m-3">
  <div id="head" class="grid grid-cols-4">
    <div class="col-span-1 bg-pink-500 text-center">
      <p-button [outlined]="true" size="large" class="my-4" [pt]="{ root: { class: 'square-button' } }">
        <img src="assets/logo.png" alt="App Logo" class="h-8 w-8" />
      </p-button>
    </div>
    <div class="col-span-3 flex items-center justify-center overflow-hidden">
      <!-- Rolling Ribbon Component -->
      <ro-rolling-ribbon [items]="systemMessages" [highlightWord]="'RallyOn!'" [backgroundColor]="'transparent'"
        [textColor]="'primary-950'" [separator]="'|'" [animationDuration]="15"
        class="text-2xl"></ro-rolling-ribbon>
    </div>
  </div>
  <div id="routs">
    <ul>
      <li>some</li>
    </ul>
  </div>
  <div id="apps">
    <ul>
      <li>some</li>
    </ul>
  </div>
  <div id="others" class="grid grid-cols-4">
    <div class="col-span-1">
      <!-- Expand/Retract Button -->
      <button type="button" class="ml-auto p-2 rounded-full hover:bg-gray-100 focus:outline-none"
        aria-label="Toggle sidebar" (click)="toggleSidebar()">
        <i [ngClass]="sidebarExpanded ? 'pi pi-angle-double-left' : 'pi pi-angle-double-right'"></i>
      </button>
    </div>
  </div>
</p-panel>
