:host {
  display: block;
  height: 100vh;
}

.p-panel {
  height: 100vh;
  border-radius: 0;
  border: none;
  border-right: 1px solid #e5e7eb;
}

.square-button {
  padding: 0.75rem !important;
  aspect-ratio: 1 / 1;
}
